header{
    background: coral;
    text-align: center;
    padding: 10px;
}

nav{
    list-style-type: none;
}


nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #333;
    justify-content: center;
}

nav ul a{
    display: flex;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul :hover{
    color: yellowgreen;
}

main{
    background-image: url(../img/artur-solarz-iq-knUC21j4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




.form{
    width: auto;
    height: auto;
}

footer{
    background-color: #eb6969;
    text-align: center;
    margin-top: 20px;
}

.img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-
    gap: 5px;
    }

.imagen{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.mates{
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 40px;
    object-fit: cover;

}
.redes{
    width: 40px;
}


.gallery{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.mates:before{
    content: Nuestros mates artessanales;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: scale(0%);
    transition: 4s;
}

.mates:hover:before{
    transform: scale(1%);
    rotate: 360deg;
}



    .cuerpo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        }
        
        .texto1 { grid-area: 1 / 1 / 2 / 3; }
        .texto2 { grid-area: 2 / 1 / 3 / 3; }
        .texto3 { grid-area: 3 / 1 / 4 / 3; }
        .imagen { grid-area: 1 / 3 / 4 / 4; }

    @media (max-width: 600px) {
        nav ul{
            flex-direction: column;
        }
    }

    @media (max-width: 400px) {
        nav ul{
            flex-direction: column;
        }
    }