@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

/* header */

header {
    background: #1d1e18;
    height: 5rem;
    display: flex;
}

.logo {
    height: 4rem;
    width: 4rem;
    margin: auto 100px;
}

.nav {
    list-style: none;
    margin: auto 450px;
}

.nav__list {
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    box-sizing: border-box;
    display: inline-flex;
}

.nav__item {
    
}

.nav__enlace {
    text-decoration: none;
    color: #F5CCE8;
    margin: 10px 20px;
    padding: 5px;
    border: 1px solid #f5cce8;
    border-radius: 10px;
    font-size: 12px;
}

.nav__enlace:hover {
    color: #1d1e18;
    background: #F5CCE8;
}

/* main index*/

.main-container {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    padding: 2rem;
    min-height: 100vh;
    width: 100%;
}

.main__section {
    display: grid;
    grid-template-columns: 4, 1fr;
    gap: 10px;
    grid-template-areas: 
    "title title title title"
    "sub sub img img"
    "text text img img"
    "text text img img"
}

.main__title {
    grid-area: title;
    text-align: center;
    font-size: 50px;
}

.main__sub {
    grid-area: sub;
    margin: auto;

}

.main__text {
    grid-area: text;
    margin: center;
    padding: 100px;
}

.main__img {
    grid-area: img;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

/* main mates */

.gallery {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.card {
    display: flex;
    width: 100%;
    max-width: 1100px;
}

.head {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.head img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.foot {
    padding: 15px;
    text-align: center;
}

.foot p {
    line-height: 1.5;
    color: #6a6a6a;
}

.foot h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.foot a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.foot a:hover{
    background: #2fb4cc;
    color: #fff;
}

.head:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

/* Formulario*/

.form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__imput {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form__imput--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta {
    background-color: #7ac5d8;
    font-size: 1rem;
    color: #6a6a6a;
    border: none;
    font-weight: 300;
    padding: .7em 0em;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 700;
}

.form__cta:hover {
    background-color: #089fe0;
    color: #fff;
}

/* canastos */

.gallery--canastos {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

/* receta */

.main__sub--receta {
    margin: 10px;
    padding: 15px;
}

.main__text--receta {
    padding: 10px;
    margin: 10px;
}

.main__ol {
    margin: 40px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    background-color: #ce97e4;
}

.redes {
    width: 40px;
    margin: 5px 10px;
}

@media (max-width: 600px) {
    nav ul{
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    nav ul{
        flex-direction: column;
    }
}

